<%= form_with model: produto do |form| %>
  <div>
    <%= form.label :nome %><br>
    <%= form.text_field :nome %><br>
    <% produto.errors.full_messages_for(:nome).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :Descricao %><br>
    <%= form.text_field :descricao %><br>
    <% produto.errors.full_messages_for(:descricao).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.label :Classificacao %><br>
    <%= form.text_field :classificacao %><br>
    <% produto.errors.full_messages_for(:classificacao).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>