
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @produtos.each do |produto| %>
        <% if produto.valid? %>
          <% unless produto.archived? %>
            <div class="col">
              <div class="card shadow">
                <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/26n79t82lmj989iAE" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/producthunt-iphone-apple-event-26n79t82lmj989iAE"></a></p> 
                </svg>
    
                <div class="card-body">
                  <p class="card-text">
                  <%= link_to produto.nome, produto %>
                  <br>
                  <%= produto.descricao %>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to "Editar", edit_produto_path(produto), remote: true, class: 'btn btn-primary' %>
                        <i class="bi bi-bag-check-fill"></i>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% end %>
      <% end %>
      </div>
      <br>
      <%= link_to "Novo Produto", new_produto_path , remote: true, class: 'btn btn-block btn-lg btn-primary icon-plus' %>
    </div>
  </div>
  <%= render 'produtos/modal' %>