<h1><%= @produto.nome %></h1>

<p><%= @produto.descricao %></p>


<ul>
  <li><%= link_to "Edit", edit_produto_path(@produto) %></li>
  <li><%= link_to "Destroy", produto_path(@produto),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>
<h2>Comentario</h2>
<%= render "comentarios" %>

<h2>Como voce avalia esse produto?</h2>
<%= render "comentarios_form" %>